.main{
    margin: 30px;
    background-color: #fff;
}
.body{
    background-color: #d3d3d3;
}
.btn-publish{
    margin-bottom: 15px;
    float: right;
}
.media-object{
    width: 55px;
    height: 55px;
}
.media-text{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}
.row{
    padding: 15px;
}
.list-group-item{
    border:none
}
.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
    background-color: #499ef3;
    background-image: none;
}