<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap-theme.css}"/>
    <link rel="stylesheet" th:href="@{/css/community.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/lib/layui/css/layui.css}"/>
<!--    <script type="application/javascript">-->
<!--        window.onload=function () {-->
<!--            if (localStorage.getItem("closeable")=='true') {-->
<!--                window.close();-->
<!--                window.localStorage.removeItem("closeable");-->
<!--            }-->

<!--        }-->
<!--    </script>-->

</head>
<body class="body">
    <div th:replace="common::navbar"></div>
    <div class="container-fluid main">
        <div class="row">
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 border-right" >
                <h3><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>&nbsp;发现</h3>
                <hr>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 media media-cus border-bottom" th:each="question :${paginationDTO.data}">
                       <div class="media-left">
                               <img class="media-object img-rounded" th:src="${question.getUser().getAvatarUrl()}">
                       </div>
                    <div class="media-body">
                        <a class="media-heading media-head" th:href="@{'/question/details/'+${question.getId()}}" th:text="${question.getTitle()}">
                            </a>
                        <span class="media-text">
                            • <span th:text="${question.getCommentCount()}"></span>个回复
                            • <span th:text="${question.getViewCount()}"></span>次浏览
                            • <span th:text="${#dates.format(question.getGmtCreate(),'yyyy-MM-dd HH:mm')}"></span>前
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12" >
                <h3>热门话题</h3>
            </div>
        </div>
        <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12" id="page"></div>
    </div>

</body>
<script type="text/javascript" th:src="@{/js/jquery-3.4.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/lib/layui/layui.all.js}"></script>
<script>
    layui.use('laypage', function(){
        let laypage = layui.laypage;
        laypage.render({
            elem: 'page',
            count:[[${paginationDTO.totalRows}]],
            limit:[[${paginationDTO.pageSize}]],
            curr:[[${paginationDTO.currentPage}]],
            groups:3,
            prev:'&lt',
            next:'&gt',
            layout:['count','prev','page','next','limit','refresh','skip'],
            jump: function(obj, first){
                if(!first){
                    //$("#${param.bodyID}").load("${url}?pageNo="+obj.curr+"&pageSize="+obj.limit);
                    location.href="/?currentPage="+obj.curr+"&pageSize="+obj.limit
                }
            }
        });
    });
</script>
</html>