<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap-theme.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/community.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/lib/layui/css/layui.css}"/>

</head>
<body class="body">
    <div th:replace="~{common::navbar}"></div>
    <div class="container-fluid main">
        <div class="row">
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 border-right" >
                <h3><span th:text="${sectionName}"></span></h3>
                <hr>
                <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12" th:if="${section=='questions'}" >
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 media media-cus border-bottom" th:each="question :${paginationDTO.data}">
                    <div class="media-left">
                        <img class="media-object img-rounded" th:src="${question.getUser().getAvatarUrl()}">
                    </div>
                    <div class="media-body">
                        <a class="media-heading media-head" th:href="@{'/question/details/'+${question.getId()}}" th:text="${question.getTitle()}">
                        </a>
                        <span class="media-text">
                            • <span th:text="${question.getCommentCount()}"></span>个回复
                            • <span th:text="${question.getViewCount()}"></span>次浏览
                            • <span th:text="${#dates.format(question.getGmtCreate(),'yyyy-MM-dd HH:mm')}"></span>前
                        </span>
                    </div>
                </div>

                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" th:if="${section=='replies'}" th:each="notification :${paginationDTO.data}" >
                        <div class="media-body notify">
                            <div class="media-heading">
                                <span  th:text="${notification.notifierName+' '+notification.typeName}"></span>
                                <a class="media-heading media-head"
                                   th:href="@{'/notification/'+${notification.getId()}}"
                                   th:text="${notification.outerTitle}">
                                </a>
                                <span class="label label-danger radius" th:if="${notification.status==0}">未读</span>
                            </div>
                        </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12" >
                <div class="list-group">
                    <a th:href="@{/profile/questions}" th:class="${section=='questions'} ? 'active list-group-item':'list-group-item'">
                        我的问题</a>
                    <a th:href="@{/profile/replies}" th:class="${section=='replies'} ? 'active list-group-item':'list-group-item'">
                        最新回复
                    <span class="badge" th:text="${session.unreadCount}"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12" id="page"></div>
    </div>
    <div th:replace="common::foot"></div>
</body>
<script type="text/javascript" th:src="@{/js/jquery-3.4.1.min.js}"></script>
<script type="text/javascript" th:src="@{/lib/layui/layui.all.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
<script>
    layui.use('laypage', function(){
        let action='[[${action}]]';
        let laypage = layui.laypage;
        laypage.render({
            elem: 'page',
            count:[[${paginationDTO.totalRows}]],
            limit:[[${paginationDTO.pageSize}]],
            curr:[[${paginationDTO.currentPage}]],
            groups:3,
            prev:'&lt',
            next:'&gt',
            layout:['count','prev','page','next','limit'],
            jump: function(obj, first){
                if(!first){
                   // $("#${param.bodyID}").load("${url}?pageNo="+obj.curr+"&pageSize="+obj.limit);
                    location.href="/profile/"+action+"?currentPage="+obj.curr+"&pageSize="+obj.limit;
                }
            }
        });
    });
</script>
</html>