<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${question.getTitle()}"></title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap-theme.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/community.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/lib/layui/css/layui.css}"/>
    <script type="text/javascript" th:src="@{/lib/layui/layui.all.js}"></script>


</head>
<body class="body">
    <div th:replace="common::navbar"></div>
    <div class="container-fluid main">
        <div class="row">
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12" >
                <h3 th:text="${question.getTitle()}"></h3>
                <span class="media-text"  >
                作者 <span th:text="${question.getUser().getName()}"></span>&nbsp;|
                浏览数:<span th:text="${question.getViewCount()}"></span>&nbsp;|
                发布时间:<span th:text="${#dates.format(question.getGmtCreate(),'yyyy-MM-dd HH:mm')}"></span>
                </span>
                <hr>
                <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12" >
                    <article th:text="${question.getContent()}"></article>
                </div>
                <hr>
                <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12" >
                    
                    <span th:if="${session.CurrentUser!=null && question.getCreatorId()==session.CurrentUser.getId()}">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                        <a th:href="@{'../edit/'+${question.getId()}}">编辑</a>
                    </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span>
                        <i class="layui-icon layui-icon-dialogue"></i>
                        <a th:href="@{'question/'+${question.getId()}}">添加评论</a>
                    </span>
                </div>

            </div>
            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12" >
                <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12" >
                    <h4>发起人</h4>
                </div>
                <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12" >
                <div class="media-left">
                    <a href="#">
                        <img class="media-object img-circle" th:src="${question.getUser().getAvatarUrl()}">
                    </a>
                </div>
                <div class="media-body">
                    <h6 class="media-heading">
                        <span th:text="${question.getUser().getName()}"></span>
                    </h6>
                </div>
                </div>
                <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12" >
                    <h4>相关问题</h4>
                </div>
            </div>
        </div>

    </div>
</body>
<script type="text/javascript" th:src="@{/js/jquery-3.4.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
</html>